# Xcode
.DS_Store
build/
DerivedData/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/xcode/package.resolved

# CocoaPods
/Pods/
Podfile.lock

# Carthage
/Carthage/Build/

# Fastlane
/fastlane/report.xml
/fastlane/Preview.html
/fastlane/screenshots
/fastlane/test_output

# Bundle artifacts
*.xcarchive
*.ipa
